.navbar {
    background-color: var(--color-primary);
    height: 74px;
    /* width: 100vw; */
    padding: 0px 32px;
    display: flex;
    align-items: center;
    background: #34C94B;
    justify-content: space-between;
  }
/* .navBtn{
  font-family: poppins;
} */
  